<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Foodpicker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-image">


    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tab 2</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="transparent-card">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Hey there!!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <form [formGroup]="form" (ngSubmit)="login()">
            <ion-item>
              <ion-input label="Email Address" placeholder="email@email.com" type="text" formControlName="email"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">

              </ion-input>
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
              </div>
            </ion-item>

            <ion-item>
              <ion-input label="Password" type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"></ion-input>
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
              </div>
            </ion-item>

            <div id="button">
              <ion-button fill="solid" type="submit">
                Login
              </ion-button>
            </div>

            <ion-button fill="solid" (click)="gotoForgot()">
              Reset Password
            </ion-button>

            <div id="signup">
              <a [routerLink]="'/signup'">Don't have an account? Sign up!!</a>
            </div>

            
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>